@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.allura {
  font-family: "Allura", cursive;
}

.poppins {
  font-family: "Poppins", sans-serif;
}
.gradientdark {
  background: linear-gradient(0deg, #0a0a0a 0%, #1d1c1d 100%);
  color: #bb437b;
}

.hoverborderpink {
  width: 3em;
  padding: 0.5rem;
}

.hoverborderpink:hover {
  border-bottom: 2px solid white;
}
